*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main{
    padding: 30px 5%;
    display: flex;
}
.aside{
    width: 15%;
    /*float: left;*/
}
.bg-color-gray{
    background-color: #f8f8f9;
}
.font-italic{
    font-style: italic;
}
.nav-item{
    /*width: 10%;*/
    /*text-align: center;*/
    /*float: left;*/
    font-weight: normal;
}
.aside-item{
    border: 1px solid black;
    width: 100%;
    padding: 30px 10px;
}
.all-articles{
    width: calc(60% - 40px);
    margin: 0px 20px;
    padding: 0px 5%;
    border: 1px solid black;
    /*float: left;*/
}
.img{
    color: white;
    background-color: gray;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.article{
    border: 1px solid pink;
    width: 46%;
    /*float: left;*/
    margin-left: 2%;
}
.article-special{
    position: relative;
    top: -240px;
}
.aside-login{
    display: flex;
    align-content: center;
}
.login{
    /*float: left;*/
    position: fixed;
    left: 82%;
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(20%);
    padding: 1% 0;
    top:calc(40% - 90px);
    background-color: #eeeeee;
}
.login-input-size{
    width: 80%;
    height: 20%;
    margin: 0 0 5% 0;
    border: 1px solid darkgray;
}
.login-input-padding{
    padding-left: 5px;
}
.login-input-button{
    margin-top: 5%;
    margin-bottom: 0;
    border: 0;
    background-color: #1e81fe;
    color: white;
    font-weight: bold;
}
.footer{
    background-color: #eee;
    color: grey;
    height: 120px;
    line-height: 70px;
    text-align: center;
    clear: both;
    width: 100%;
    position: absolute;
    bottom: -90px;
}